* {
  font-family: "Roboto", sans-serif;
}

.hero,
footer {
  background-color: #1f2937;
}

.hero-main {
  font-size: 48px;
  font-weight: bolder;
  color: #f9faf8;
}

.hero-secondary {
  font-size: 18px;
  color: #e5e7eb;
}

.logo {
  font-size: 24px;
  color: #f9faf8;
}
